{
    "printWidth": 100,
    "tabWidth": 2,
    "semi": false,
    "vueIndentScriptAndStyle": false,
    "jsxBracketSameLine": true,
    "singleQuote": true,
    "quoteProps": "as-needed",
    "bracketSpacing": true,
    "arrowParens": "avoid",
    "trailingComma": "all",
    "bracketSameLine": true,
    "proseWrap": "always",
    "endOfLine": "lf",
    "embeddedLanguageFormatting": "auto"
}